<app-navbar></app-navbar>
<div class="container body-content">
    <section class="container-logo">
        <img alt="logo ucentral" class="logo" src="assets/logo.png" />
        <p class="text-home">Proyecto desarrollado para la clase de arquitectura orientada a servicios en la Universidad
            Central, dictado por el profesor Luis Humberto Abril. El proyecto consta de la elaboración de un programa
            que
            permita gestionar los cursos de una empresa con el fin de que se tenga la información organizada de los
            cursos
            realizado con el fin de controlar su administración.</p>
        <h1 class="title-members">Desarrollado por:</h1>
        <div class="members">
            <div class="content-members">
                <h2>Diego Rodriguez</h2>
                <p>Estudiante de ingenieria de sistemas en la Universidad Central</p>
            </div>
            <div class="content-members">
                <h2>Omar Pérez</h2>
                <p>Estudiante de ingenieria de sistemas en la Universidad Central</p>
            </div>
        </div>
        <h1>Funcionalidades</h1>
        <div class="container-funcs">
            <a href="#" class="link-funcs" routerLink="/tutores">Tutores</a>
            <a href="#" class="link-funcs" routerLink="/empresas">Empresas</a>
            <a href="#" class="link-funcs" routerLink="/empleados">Empleados</a>
            <a href="#" class="link-funcs" routerLink="/crusos">Cursos</a>
        </div>
    </section>

</div>
<app-footer></app-footer>