<!-- Footer -->
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" target="_blank"
                href="https://www.facebook.com/diferodriguezz" role="button"><i class="fab fa-facebook-f"></i></a>

            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://www.instagram.com/omar_perez0306/" role="button"><i
                    class="fab fa-instagram"></i></a>

            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1" target="_blank"
                href="https://www.linkedin.com/in/omar-andr%C3%A9s-p%C3%A9rez-gil-8397421a8/" role="button"><i
                    class="fab fa-linkedin-in"></i></a>

            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://github.com/perez0306"
                role="button"><i class="fab fa-github"></i></a>
        </section>

        <section class="">
            <div class="container-links">

                <!--Grid column-->
                <div>
                    <h5 class="text-uppercase">Datos de contacto</h5>
                    <p>Omar Perez / Diego Rodriguez</p>
                    <p>operezg@ucentral.edu.co</p>
                    <p>drodriguezr32@ucentral.edu.co</p>
                    <p>Bogotá D.C - Colombia</p>
                    <p>calle 21 # 5 - 01</p>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="">
                    <h5 class="text-uppercase">Links</h5>

                    <ul class="list-unstyled">
                        <li class="li-link">
                            <a href="#!" routerLink="/tutores" class="text-white h6 link">Tutores</a>
                        </li>
                        <li class="li-link">
                            <a href="#!" class="text-white h6 link" routerLink="/empresas">Empresas</a>
                        </li>
                        <li class="li-link">
                            <a href="#!" class="text-white h6 link" routerLink="/empleados">Empleados</a>
                        </li>
                        <li class="li-link">
                            <a href="#!" class="text-white h6 link" routerLink="/cursos">Cursos</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->