<nav class="navbar navbar-expand-lg navbar-light bg-dark ">
    <div class="collapse navbar-collapse container" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link h5 text-white" href="#" routerLink="/tutores">Tutores</a>
            </li>
            <li class="nav-item" style="padding-left: 30px;">
                <a class="nav-link h5 text-white" href="#" routerLink="/empresas">Empresas</a>
            </li>
            <li class="nav-item" style="padding-left: 30px">
                <a class="nav-link h5 text-white" href="#" routerLink="/cursos">Cursos</a>
            </li>
        </ul>
    </div>
</nav>